<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<resultMap id="memberResultSet" type="member">
		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="EMAIL" property="email" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="USER_INFO" property="userInfo" />
		<result column="BACKMUSIC_NO" property="backMuNo" />
		<result column="MEMBERSHIP_NO" property="membershipNo" />
		<result column="STATUS" property="status" />
	</resultMap>


	<select id="selectMemberListCount" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
	</select>

	<select id="selectMemberList" resultType="member">
		SELECT *
		FROM MEMBER
		ORDER BY TO_NUMBER(USER_NO) DESC
	</select>
	
	
	<update id="updateMemberinfo"  parameterType="member">
		UPDATE MEMBER
		SET 
			USER_ID = #{userId},
			USER_NAME = #{userName},
			EMAIL = #{email},
			MEMBERSHIP_NO = #{membershipNo},
			STATUS = #{status}
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="WithdrawalMemberinfo"  parameterType="member">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE USER_NO = #{userNo}
	</update>
	
	
	<update id="RestoreMemberinfo"  parameterType="member">
		UPDATE MEMBER
		SET STATUS = 'Y'
		WHERE USER_NO = #{userNo}
	</update>













</mapper>